PackageConfig(
    target: "~/Documents/boxunbox/demo/dest",
    ignore_pats: [
        "\\.unboxrc(\\.ron)?$",
        "^\\.git.*$",
        "^(README|LICEN[CS]E|COPYING).*$",
        "^test_ignore.*$",
    ],
    use_relative_links: false,
)