PackageConfig(
    target: "~/Documents/repos/boxunbox/demo/dest",
    ignore_pats: [
        "\\.unboxrc(\\.ron)?$",
        "^\\.git.*$",
        "^(README|LICEN[CS]E|COPYING).*$",
    ],
    link_root: false,
    no_create_dirs: false,
    use_relative_links: false,
)
