PackageConfig(
    target: "~/Documents/repos/boxunbox/demo/dest",
    ignore_pats: [
        "\\.unboxrc.*$",
        "^\\.git.*$",
        "^(README|LICEN[CS]E|COPYING).*$",
        "^test_ignore.*$",
    ],
    link_root: false,
    no_create_dirs: false,
    use_relative_links: false,
)